[2018-03-21 17:50] dselman opened #1 "MVP Epic"
## Identify a potential Smart Clause
Select some text
Bind the text to a smart clause template (either existing or new)

## Validate Smart Clauses
Text that is bound to an existing Smart Clause should be parsed and validated. Errors should be displayed.

## Publish all Smart Clauses to a Template Library
Push all smart clauses into a Template Library, updating them if required.

[2018-03-21 17:55] dselman opened #2 "Auto Identification of Smart Clauses"
Chunk the document into clauses and then identify smart clauses from existing template libraries. Could use a service like this:
https://dandelion.eu/docs/api/datatxt/sim/v1/

[2018-06-06 01:27] jeromesimeon opened #3 "Verbatim"
Should this repository be renamed to "Verbatim" per the accord project documentation at https://docs.accordproject.org/ ?

[2020-02-24 05:16] SupreethBaliga commented on #1
Hello, sir. I'm interested to work on this. Can you please provide some tips or suggestions on how do I go about implementing it?

[2020-03-01 03:28] a4aditya commented on #3
I can't find the reference for this issue @jeromesimeon
It would be great if u can provide a link for the same.

@DianaLease please review the same and i think this issue should be closed.

[2020-03-01 15:00] youngheart12 commented on #1
i am too interested for this if you can elaborate it little we can work with this and can make it happen.

[2020-03-01 18:50] arteevraina commented on #1
@dselman do we have to set development environment as ms word is not available in linux?

[2020-03-02 04:08] SupreethBaliga commented on #1
@youngheart12 sure.

[2020-03-02 14:02] irmerk commented on #1
Hello all! Please join the `#gsoc` channel in our [Slack workspace](https://accord-project-slack-signup.herokuapp.com/). The pinned posts there will help with guidance.

[2020-03-02 20:07] DianaLease commented on #3
Verbatim was a working name for this project when it was first introduced. I think if we decide to pick up this project again, we should revisit the name. I think I still like it, but others in the community may have new suggestions.

[2020-03-02 20:17] a4aditya commented on #3
Well, that is a thoughtful name! why don't we ask the community than about the name lets see what others have to say :)

[2020-03-03 06:15] SupreethBaliga commented on #1
I think there's some problem with the application that sends the invite. It's been 6 hours and I still haven't received my invite to join the slack workspace. Can you please look into it? @irmerk

[2020-03-03 13:17] jeromesimeon commented on #1
I presume that you will need a platform which supports Office 365. Not sure what the system requirements are?

[2020-03-03 13:30] dselman commented on #3
I also like the name Verbatim - but I’m now a little cautious. We already have “code names” for the major parts of AP: Cicero, Ergo, Concerto. I think there’s something to be said for descriptive names for the rest: Cicero-UI, Concerto-UI etc. as it helps people navigate the project. Once you get a lot of abstract names things can get quite intimidating to outsiders.

[2020-03-10 13:57] nik72619c opened #14 "Add husky, lint-staged and prettier"
#### Type
 - Refactor

### Description

Addition of husky and lint-staged would avoid committing poor code to the repository

[2020-03-17 18:44] nik72619c opened #35 "The input text is white"
#### Description
The color of the text inside the main input is white. The text can be seen when highlighted as shown :-

<img width="376" alt="Screenshot 2020-03-18 at 12 12 28 AM" src="https://user-images.githubusercontent.com/30630904/76890411-54d38280-68ad-11ea-8280-b65722df73e4.png">

OS :- MacOS Cataline (v10.15.2)

[2020-03-17 18:45] nik72619c commented on #35
@dselman @DianaLease Are you able to reproduce it ?

[2020-03-17 18:47] dselman commented on #35
Yes.

[2020-03-17 18:48] nik72619c commented on #35
@dselman Shall I start working on this then ?

[2020-03-17 19:26] nik72619c commented on #35
@dselman let me know your thoughts on this:-
ref #36

[2020-03-17 19:28] #35 closed

[2020-03-17 19:45] shakti2379 opened #37 "Dialog persist state even after closing"
New Smart clause dialog preserving the state of the text box

Steps to Reproduce:
1. Go to Create New Smart Clause .
2. Enter Clause Id and Template Id.
3. Close the dialog by clicking on Ok or Cancel
4. Now go to create New Smart Clause Again you will see the text you previously entered.

[2020-03-17 19:53] arteevraina commented on #37
@shakti2379 can i work on this issue ?

[2020-03-17 19:53] shakti2379 commented on #37
I working on this
Thanks

[2020-03-17 19:54] arteevraina commented on #37
okay np

[2020-03-17 20:41] nik72619c opened #39 "clause template list is missing loading spinner"
#### Description
Currently, the list which displays the clause templates list does not have a fallback UI or a spinner. Steps to reproduce the issue:-
1. Sideload the cicero-UI add-in
2. switch over to the `Templates ` tab
3. The list is a blank component first and then the list appears

OS details:-
Mac OS Catalina (v10.15.2)

[2020-03-17 20:42] nik72619c commented on #39
@dselman @DianaLease  Are you able to reproduce this issue ?

[2020-03-17 21:19] shakti97 opened #40 "Static Header using Tab"
##Description
Header using Tab to render Add-In header which makes it unnecessary clickable and its not in centered

[2020-03-17 21:24] shakti97 commented on #40
I would like to work on this

[2020-03-17 21:35] DianaLease commented on #39
yes, a loader would be nice here

[2020-03-17 23:18] arteevraina opened #41 "Add-in lacks proper footer"
Add-ins generally have a proper footer indicating some copyrights or something like that along with that footers mentions name of organisation which is maintainig it.

[2020-03-17 23:19] arteevraina commented on #41
I am working on this issue..

[2020-03-18 19:09] #37 closed

[2020-03-18 19:32] arteevraina opened #45 "Refactoring Class based components to Functional Based"
Working with functional based components is much easier as compared to working with class based components.

[2020-03-18 19:32] arteevraina commented on #45
I am working on this issue

[2020-03-18 19:37] #39 closed

[2020-03-18 19:40] ShrutikaSingh opened #46 "NewTemplateDialog.js File is there But the component NewTemplateDialog is never used"
I am working on this

[2020-03-18 20:12] nik72619c opened #47 "console logs are present in the code"
#### Description
The console.log statements should not be present in the app.

OS config:- Mac OS Catalina (v10.15.2)

[2020-03-18 21:23] shakti97 opened #50 "Loader Should not be on the whole page"

[2020-03-18 21:26] #50 closed

[2020-03-18 21:40] shakti97 opened #51 "Tabs should Occupy full Width"
## Description
Enhancement:- Tabs in the Add-In should occupy full Width

## Current Behaviour
 Tabs are compressed

## Expected Behaviour
Tabs should occupy full Width

[2020-03-18 22:00] shakti97 opened #53 "Remove Unnecessary Scrollbar"
## Description
We have two scrollbar in the add-in one for the whole add in and one for the templates, if we are using scrollbar for the template I don't think there is any need of the outside scrollbar

## Current Behaviour
Two scrollbar in which outside scrollbar is unnecessary

## Expected Behaviour
Scrollbar is needed if there is any content which is not visible, but actually we are using scro

[2020-03-18 22:32] nik72619c opened #54 "Uncertain positioning of add smart clause floating button"
#### Description
Currently the new smart clause floating button is not present at the right place in the UI, creating a jarring experience.

<img width="328" alt="Screenshot 2020-03-19 at 4 01 45 AM" src="https://user-images.githubusercontent.com/30630904/77013607-65abf300-6996-11ea-8625-e476fecfd336.png">

OS details:- Mac OS Catalina(v10.15.2)

[2020-03-18 22:33] nik72619c commented on #54
@dselman shall I file the PR for this ?

[2020-03-18 23:08] #40 closed

[2020-03-18 23:11] arteevraina opened #55 "Wrong function reference"
The `onClose` eventhandler in `NewSmartClasueDialog` is referencing to wrong function.
I am working on this issue.

[2020-03-19 15:06] Michael-Grover opened #57 "Replace "Smart Clause" with "Clause Template""
The term "Smart Clause" is the IP of another company. We have to change all instances of "Smart Clause" to "Clause Template"

[2020-03-19 15:08] arteevraina commented on #57
I want to work on this issue

[2020-03-19 16:08] Michael-Grover commented on #57
@arteevraina thanks I've assigned it to you

[2020-03-19 17:06] #57 closed

[2020-03-19 19:35] #41 closed

[2020-03-19 20:59] #51 closed

[2020-03-20 15:33] #55 closed

[2020-03-20 18:11] nik72619c opened #60 "Remove floating action button from clause template modal"
#### Description

As discussed with @Michael-Grover, the floating action button is rarely seen in desktop apps. Therefore this should be changed to a normal button.

OS info:-
Mac OS Catalina(v10.15.2)

[2020-03-20 18:33] nik72619c opened #62 "Fix project header to top"
#### Description
The project header can be fixed to the top. Currently, it scrolls along with the content.

OS config:- Mac OS Catalina(v10.5.2)

[2020-03-20 19:30] #62 closed

[2020-03-20 19:56] #47 closed

[2020-03-20 20:06] shakti97 opened #64 "Form Validation Required"
## Description
Right Now the label are already red , but they should be red only when there is a error, we can solved this issue by maintaining a state for error but I think it should be much elegant if we add any form-validation library

## Current Behaviour
Right now label are already in red color , but that should be only when there is any error after the fields are dirty or touched

## Expecte

[2020-03-20 20:22] #64 closed

[2020-03-20 20:26] nik72619c opened #66 "Modify eslint config to enforce linting"
#### Description
Curently, an eslintrc file is present , but the app does not enforce linting. Therefore, linting rules need to be modified in the app, and also linting should be made mandatory , i.e build should fail if linting rules are not adhered to.

[2020-03-20 20:28] shakti97 commented on #2
I would like to work on this, it should be like filter or we need to show only smart clause @dselman

[2020-03-20 20:30] shakti97 commented on #1
you can use the browser microsoft office

[2020-03-20 20:50] shakti97 opened #68 "Remove Useless code"
Description:-
There is some useless code which is there but not contributing to the respective feature

[2020-03-20 21:04] #66 closed

[2020-03-20 21:07] #68 closed

[2020-03-20 21:13] nik72619c opened #70 "refactor un-necassary instances of "that" usage"
#### Description
Currently, the use of "that" is used in many places in the code in order to get the `this` instance. This can be replaced by using arrow functions which bubble up `this`, rather than normal functions.

[2020-03-20 21:28] #70 closed

[2020-03-20 21:56] nik72619c opened #72 "Add cicero logo in the app banner"
#### Description
Based on the discussion with @Michael-Grover, the logo for cicero needs to be added on the banner of the add-in project.

![image (1)](https://user-images.githubusercontent.com/30630904/77209206-a9803300-6b23-11ea-80e1-68dae9d225a5.png)

[2020-03-21 01:33] arteevraina opened #74 "Add OnKeyPress event handler in NewSmartClauseDialog.js"
After entering `clauseId` and `templateId` user can click enter button to confirm those changes.

[2020-03-21 01:33] arteevraina commented on #74
I am working on this issue

[2020-03-21 01:49] arteevraina opened #76 "unused variables warning coming on npm start"
Line 60:20:  `clauseId` is assigned a value but never used    no-unused-vars
Line 60:29:  `templateId` is assigned a value but never used  no-unused-vars

[2020-03-21 01:49] arteevraina commented on #76
I am working on this issue

[2020-03-21 03:44] shakti97 opened #78 "Footer background Color is different then header"
## Description
Footer color is different from the header

## Current Behaviour
Footer color is different then rest of the theme design, and header

## Actual Behaviou
Footer color should be same as the header

[2020-03-21 04:47] shakti97 opened #80 "Refactor TabContainer to enhance its usability"
Moving conditional checks to TabContainer itself instead of checking it in TopNavigation
1. Remove duplicacy
2. Increase Reusability

[2020-03-21 06:12] arteevraina opened #82 "Some important links should be added."
The add-in lacks the links some useful links.

[2020-03-21 06:12] arteevraina commented on #82
I am working on this.

[2020-03-21 08:22] arteevraina commented on #76
Also these were not defined in state but were extracted later in the code

[2020-03-21 08:50] arteevraina opened #83 "There is some issue in NewSmartDialog.js"
![image](https://user-images.githubusercontent.com/43968121/77223115-ba5e9200-6b7f-11ea-83c0-3eb9e7e2b141.png)

[2020-03-21 08:50] arteevraina commented on #83
I am working on this

[2020-03-22 05:24] #46 closed

[2020-03-22 12:10] arteevraina opened #88 "Content in the welcome page not properly aligned"
Some of the text and AP logo is not well adjusted in the taskpane. I would like to work on this issue

[2020-03-22 18:15] nik72619c opened #89 "The tabs are not sticky"
#### Description
As per the discussion with @Michael-Grover, the tabs are to be sticky along with the header, in the word add-in.

OS configuration:- MacOS Catalina(v10.12.0)

[2020-03-22 19:07] nik72619c opened #92 "clause does not add to the current cursor position of the contract"
#### Description
Currently, the `addToContract` function does not add the contract to the current cursor position but rather adds it to the end of the document.

OS config:- Mac OS Catalina (v10.15.2)

[2020-03-23 18:19] #78 closed

[2020-03-23 18:23] #74 closed

[2020-03-23 19:38] #89 closed

[2020-03-23 19:54] #45 closed

[2020-03-23 21:56] #82 closed

[2020-03-24 20:48] arteevraina commented on #88
@DianaLease Rendering of this component for fraction of seconds in the add-in at the start does not make much sense. What are your views about it?

[2020-03-24 21:50] DianaLease commented on #88
What welcome page are you referring to? I only see a loading screen before the add-in renders.

[2020-03-25 13:11] arteevraina commented on #83
@DianaLease This issue has been already fixed by the PR #87 . This issue needs to be closed.

[2020-03-25 13:19] arteevraina commented on #88
![image](https://user-images.githubusercontent.com/43968121/77540512-367f0f80-6ec9-11ea-8e6e-33aa76ae6bb4.png)
@DianaLease This page loads in the local host and it also loads in the add-in for some initial seconds in the start when add-in is initialized.

[2020-03-25 13:37] DianaLease commented on #88
Ah, yeah, I think we could probably remove that.

[2020-03-25 13:37] #83 closed

[2020-03-25 13:39] arteevraina commented on #88
Should I start working on this issue?

[2020-03-25 13:40] DianaLease commented on #88
Sure, thanks!

[2020-03-25 15:40] arteevraina commented on #88
Should we render this Page in localhost as well or remove it from there also?

[2020-03-25 15:41] DianaLease commented on #88
If it's possible to only show in the browser and not when already side-loaded, let's do that

[2020-03-25 15:42] arteevraina commented on #88
Working on that ...

[2020-03-25 17:14] arteevraina opened #95 "Icon for Addin broken in TaskPane"
![image](https://user-images.githubusercontent.com/43968121/77565317-0ac05180-6eea-11ea-8039-e855f57ab8bc.png)

@DianaLease @dselman  Can i work on this issue?

[2020-03-25 17:21] DianaLease commented on #95
Sure. FYI, I see the icon in MS Word 16.35 on a Mac.

<img width="233" alt="Screen Shot 2020-03-25 at 1 18 38 PM" src="https://user-images.githubusercontent.com/20543103/77565827-2a7c5900-6e9b-11ea-8413-7abe68465ce7.png">

[2020-03-25 17:22] arteevraina commented on #95
I am using online service for word and I am not seeing the icon. Is this a genuine issue ?

[2020-03-25 17:28] DianaLease commented on #95
Just tried it in the online MS Word & I can reproduce your issue, so I think it's legitimate!

[2020-03-25 17:29] arteevraina commented on #95
Thanks for confirming. I am working on this.

[2020-03-27 15:03] arteevraina opened #96 "Clicking Sideload Office Add-ins"
When `Sideload Office Add-ins` is clicked in `localhost` it should open the link in the new tab rather than opening in the same tab where `localhost React App` is running in browser.

@DianaLease Should I work on this issue?

[2020-03-27 15:05] DianaLease commented on #96
Sure, if you are still working on https://github.com/accordproject/cicero-word-add-in/issues/88, I think these could be in the same PR.

[2020-03-27 15:06] arteevraina commented on #96
Yes , sure

[2020-03-28 16:01] dselman commented on #95
I don't see the logo either.

[2020-03-28 16:18] nik72619c opened #97 "Add cicero logo svg in react webpage"
#### Description

The `cicero` logo was added in the word add-in based on the decisions taken with @Michael-Grover. The react webpage which can be seen on opening the project on the browser and visiting `localhost:3000` should also have the same logo.

OS config:- Mac OS Catalina(v10.12.0)

[2020-03-28 16:19] nik72619c commented on #97
@DianaLease @dselman let me know if I should go forward with the fix for it?

[2020-03-28 16:31] arteevraina opened #98 "Some instances of Smart Clause are still there in add-in"
#57 Some instances of Smart Clause are still there in the add-in's ribbon.
I am working on this.

[2020-03-28 18:21] Taimoor0217 opened #100 "cp command and start script for setting up the project."
I was going through the documentation to setup the add-in on a widows (batch shell) machine and have realized that the copy command for cicero-word-add-in.xml file is incorrect for windows, if it was not intentional to skip the configuration for windows. I would like to point out that the following command:
[code]
should be updated to the following for windows.

[code]

Similarly, in the start scr

[2020-03-28 18:37] nik72619c opened #101 "remove inline CSS from the loading page for the add-in"
#### Description

Currently, the loading page which can be seen on `localhost:3000` has some inline styles. I gathered some resources regarding this which conclude that having inline styles like this causes the reconciliation algorithm to break and cause unnecessary re-renders.

http://slides.com/nik72619c/react-optimisation-fbdevc#/68

[2020-03-28 19:57] arteevraina commented on #95
@dselman Are you able to reproduce same in word application software in your OS?

[2020-03-28 21:28] arteevraina opened #103 "Circular Progress loading with delays"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/43968121/77834220-11103100-7169-11ea-991e-90ea870d30b4.gif)

I am working on this

[2020-03-29 13:24] nik72619c opened #105 "Link for sideloading add in should not be present as a separate link"
#### Description
The link for `sideloading add-in` is currently present as a separate link , which  instead should be present as the a hypertext inside the line which says to sideload the add-in.

[2020-03-29 18:58] #98 closed

[2020-03-29 19:06] #103 closed

[2020-03-29 19:08] #105 closed

[2020-03-29 19:14] #80 closed

[2020-03-31 17:25] arteevraina opened #107 "organisation Link Color in on hover matching with backgroung color"
![image](https://user-images.githubusercontent.com/43968121/78056101-291ec500-73a2-11ea-98c3-29d0bb22a19a.png)

I would like to work on this.

[2020-03-31 18:31] arteevraina opened #109 "Improving Button's UI inside Insert Clause Template"
![image](https://user-images.githubusercontent.com/43968121/78062190-e95cdb00-73ab-11ea-85f0-b8924035d736.png)

I want to work on this issue :)

[2020-04-02 14:52] nik72619c commented on #109
@arteevraina I am not sure if this is an issue at the moment since the buttons seem okay to me. But would love to hear @DianaLease and @dselman 's thoughts on it.

[2020-04-02 15:27] DianaLease commented on #109
I think @Michael-Grover would be best to speak on this.

[2020-04-02 15:28] #107 closed

[2020-04-02 15:30] Michael-Grover commented on #109
@arteevraina Can you elaborate on what the issue is?

[2020-04-02 15:46] arteevraina commented on #109
@Michael-Grover I think that UI of these `Text` buttons can be improved. `Text` Buttons are used for those actions which are less pronounced in an application but as per my opinion these buttons play a very important role in Cicero-Word-Add-in. UI can be in following ways:

- By making them `Outlined Buttons`.
- By making them `Contained Buttons`.

But, I would love to have your opinion on this.

[2020-04-02 16:24] Michael-Grover commented on #109
@arteevraina I can't see the context that these buttons are in, so I am going to try to get the word add-in running on my machine so I can give better feedback

[2020-04-02 17:48] nik72619c commented on #97
@DianaLease @Michael-Grover any thoughts on this ?

[2020-04-04 15:38] Michael-Grover commented on #97
@nik72619c can you include screenshots please?

[2020-04-04 18:47] arteevraina commented on #109
@Michael-Grover Can you give me your feedback on this?

[2020-04-04 19:02] nik72619c commented on #97
yup, working on it.

[2020-04-04 19:06] nik72619c opened #112 "Missing proptype checks in some components"
#### Description
Currently, some components in the word add-in have a check for correct proptypes, but some don't.

@DianaLease @dselman, I am working on the PR for this.

[2020-04-05 18:08] nik72619c commented on #97
<img width="1038" alt="Screenshot 2020-04-05 at 11 36 52 PM" src="https://user-images.githubusercontent.com/30630904/78506324-78943500-7796-11ea-9f4e-9c3dd1eb1a6f.png">

@Michael-Grover

[2020-04-05 18:23] nik72619c opened #114 "Tabs do not occupy equal widths"
#### Description
The tabs do not occupy equal width. The expected behaviour is that they should be having equal dimensions for the sake of consistency of the UI.

One tab has a width of 185 and the other has a width of 144.

<img width="1276" alt="Screenshot 2020-04-05 at 11 52 52 PM" src="https://user-images.githubusercontent.com/30630904/78506636-96fb3000-7798-11ea-81e8-fc19ace34664.png">

[2020-04-05 18:54] arteevraina opened #116 "Ok buttons renders Smart Clause List even if text is not selected for binding"
When enter Template id and clause id without selecting a text for binding and press OK It renders Smart Clause List. It should rather display a warning that text is not selected for binding.

Should I work on it @DianaLease @dselman ?

[2020-04-06 13:31] dselman commented on #116
I think we need to step back a bit and think about what the user is trying to do when they press these buttons. I'd hold off changing this until then.

I.e. is this part of some flow to create a new template from existing text?

[2020-04-06 13:35] arteevraina commented on #116
Yes, it is in that flow only. We are directed to the starting page of the add-in without selecting the text which I think should not happen?
But I would follow your view on this.

[2020-04-06 15:05] Michael-Grover commented on #97
[Cicero-black.svg.zip](https://github.com/accordproject/cicero-word-add-in/files/4439165/Cicero-black.svg.zip)
Can we use the above Cicero logo and this Accord Project logo:

[accord project.svg.zip](https://github.com/accordproject/cicero-word-add-in/files/4439171/accord.project.svg.zip)

[2020-04-06 15:22] nik72619c commented on #97
Yup, I am working on that.

[2020-04-06 15:40] Michael-Grover commented on #109
sure let's make these contained buttons

[2020-04-06 15:41] arteevraina commented on #109
@Michael-Grover Sure, I will send a PR a shortly.

[2020-04-06 16:06] nik72619c commented on #97
<img width="1280" alt="Screenshot 2020-04-06 at 9 36 12 PM 1" src="https://user-images.githubusercontent.com/30630904/78579509-adfc5980-784e-11ea-8005-22f1b596aa8e.png">

@Michael-Grover @DianaLease

[2020-04-06 16:16] Michael-Grover commented on #97
Looks great, can we add an extra 100px between "Cicero Word Add-in",  the AP logo, and the final line of text? They look a bit squished right now.

[2020-04-06 16:16] nik72619c commented on #97
makes sense !

[2020-04-06 16:23] nik72619c commented on #97
<img width="1280" alt="Screenshot 2020-04-06 at 9 53 24 PM" src="https://user-images.githubusercontent.com/30630904/78581119-10eef000-7851-11ea-81fb-3f287fb18ffa.png">

[2020-04-06 16:25] nik72619c commented on #97
@Michael-Grover does it look good now?

[2020-04-06 16:30] Michael-Grover commented on #97
yeah it looks good to me, thanks. Can you make a PR I can review?

[2020-04-06 16:34] nik72619c commented on #97
done @Michael-Grover

[2020-04-07 15:48] arteevraina commented on #116
@dselman Should we keep this issue open and work on it later if the need arises?

[2020-04-07 15:49] arteevraina commented on #88
@DianaLease I am still working on this issue.

[2020-04-07 16:10] #109 closed

[2020-04-07 17:02] nik72619c opened #119 "Add UI for showing a list of smart clauses added by the user"
#### Description

We can add functionality for showing the user a list of smart clauses that he/she has added to the word document. After this UI is made, I would also start with other functionalities that I have in mind incrementally.

We can start with a basic user interface first.

[2020-04-07 17:12] arteevraina commented on #53
@shakti97 Are you still working on this? If you are not, then I would like to take this issue?

[2020-04-07 20:09] DianaLease commented on #119
Hi @nik72619c! This idea sounds great. I think we'll want to keep this pretty simple for now. When a user adds a clause, we can keep track of it in the state and render those added clauses in a list.

@Michael-Grover might be able to give insight into how this might look.

[2020-04-07 20:13] jeromesimeon commented on #119
Would this be similar to the "contract outline" we used to have on template studio v2?

[2020-04-07 20:17] DianaLease commented on #119
Good thought @jeromesimeon . @nik72619c, you might be able to import the `Navigation` component from cicero-ui and see if that can serve this purpose. https://github.com/accordproject/cicero-ui/tree/development/src/Navigation

[2020-04-08 11:29] arteevraina opened #120 "Unused CSS present"
Some of the classes which were removed in the recent PR's still have their CSS left in `index.css` file

[2020-04-08 11:54] shrey-sachdeva2000 opened #121 "Add Content Controls to Variables"
**Is your feature request related to a problem? Please describe.**
We would want to add content controls to `variable` nodes in the `CiceroMark DOM` to be able to add styling and perform others actions with these content controls.

**Describe the solution you'd like**
Currently, it is not possible to add content controls with the insertion of HTML (the mechanism we currently have) so we would have

[2020-04-09 18:49] #120 closed

[2020-04-09 18:50] #92 closed

[2020-04-09 18:52] #101 closed

[2020-04-09 18:55] #112 closed

[2020-04-09 19:01] #114 closed

[2020-04-10 14:44] #97 closed

[2020-04-10 14:55] #72 closed

[2020-04-10 18:05] #60 closed

[2020-04-10 18:13] arteevraina opened #127 "React WebPage has oversized logo's"
![image](https://user-images.githubusercontent.com/43968121/79012848-f08ea080-7b84-11ea-90a1-c8f53e98f438.png)

@Michael-Grover Can I have your views on this?

[2020-04-10 19:31] nik72619c commented on #127
@arteevraina that is intentional and is approved by @Michael-Grover as a design. I dont think this would pose as an issue since both @DianaLease and Michael have checked it.

[2020-04-10 19:40] arteevraina commented on #127
I asked @Michael-Grover. He approved it.

[2020-04-10 19:44] nik72619c commented on #127
I am unable to reproduce this in the browser.
<img width="1280" alt="Screenshot 2020-04-11 at 1 13 09 AM" src="https://user-images.githubusercontent.com/30630904/79018576-bf689d00-7b91-11ea-83d2-a4b4f39e5b1a.png">

[2020-04-10 19:49] arteevraina commented on #127
@nik72619c Can you tell me about the zoom of your screen?

[2020-04-10 19:50] nik72619c commented on #127
I am not sure I got that, do you mean the resolution ?

[2020-04-10 19:51] arteevraina commented on #127
No, not resolution I am talking about the zoom percentage?

[2020-04-10 19:51] nik72619c commented on #127
Okay. How can I verify that ?
Is this problem coming after zooming the page ?

[2020-04-10 19:56] arteevraina commented on #127
The screenshot you shared might have a high zoom percentage I guess? Can you confirm?

[2020-04-10 19:57] nik72619c commented on #127
I checked it. Right now it is at a 100% zoom percentage.

[2020-04-10 19:58] nik72619c commented on #127
<img width="1280" alt="Screenshot 2020-04-11 at 1 27 27 AM" src="https://user-images.githubusercontent.com/30630904/79019281-a4972800-7b93-11ea-987b-62e1c05e9bc7.png">

[2020-04-10 20:02] arteevraina commented on #127
It Looks fine. Can you share the screenshot at 30% zoom like I have shared above?

[2020-04-10 20:06] nik72619c commented on #127
Yup ,sure. I resized the screen to 33% and saw it work fine
<img width="1280" alt="Screenshot 2020-04-11 at 1 34 00 AM" src="https://user-images.githubusercontent.com/30630904/79019814-cf35b080-7b94-11ea-8b8f-38057ddbacc0.png">

[2020-04-10 20:07] nik72619c commented on #127
Also , it worked fine for less than 30%

[2020-04-10 20:09] arteevraina commented on #127
@DianaLease @Michael-Grover Can you reproduce this issue?

[2020-04-10 20:15] DianaLease commented on #127
On both Chrome & Safari, I see the site as below. I don't have Firefox installed. Could it be limited to Firefox as I see that is what you are using @arteevraina ? Maybe some CSS we are using isn't supported there. ![Screen Shot 2020-04-10 at 4 13 10 PM](https://user-images.githubusercontent.com/20543103/79020204-324c2680-7b46-11ea-963f-3ed8ca2e5563.png)

[2020-04-10 20:21] arteevraina commented on #127
Thanks @DianaLease . Let me check if I can come up with a fix for it in firefox.

[2020-04-10 20:44] arteevraina opened #128 "Unknown property align in css and Unused Element in Progess Component"
An unknown property is showing problem in `VS Code Editor` and unused element is left in the `Progress Component`.

[2020-04-11 13:51] arteevraina opened #130 "Clauseid and Templateid text going out of task-pane size."
If we enter a long `ClauseId` and `TemplateId `. The Smart Clause List when displays it goes out of task pane size and text overlaps `delete` icon.

![image](https://user-images.githubusercontent.com/43968121/79045495-0c4b8280-7c29-11ea-871b-1856def9f693.png)
This is a zoomed image but we are having same issue in normal zoom.
Would Like to have your views on this @Michael-Grover @DianaLease

[2020-04-13 14:46] DianaLease commented on #130
This should probably wrap instead. What do you think @Michael-Grover ?

[2020-04-13 15:13] Michael-Grover commented on #127
I tested this on my computer. It looks good on Chrome but I can't check firefox because it won't run for some reason, so I can't reproduce the issue
![image](https://user-images.githubusercontent.com/40569793/79132115-b9341580-7d77-11ea-9d86-c432ad2a8909.png)

[2020-04-13 15:22] arteevraina commented on #127
@Michael-Grover I have shared the steps for fixing this in slack. Hope that helps!

[2020-04-13 15:25] Michael-Grover commented on #127
it didn't work, I won't be able to check this issue on Firefox, sorry

[2020-04-13 17:58] Michael-Grover commented on #130
yeah I agree it should wrap @DianaLease

[2020-04-13 19:54] #130 closed

[2020-04-21 20:17] arteevraina opened #133 "Taskpane should open Automatically when document is opened."
#### Is your feature related to a problem? Please describe.
When a user opens a document and has add-in already installed. Then, the add-in's `taskpane` should open when document is  opened.

#### Describe the solution you would like
It should be left on the user whether he wants to enable this `autoopen taskpane `feature when using word. Maybe, we can have a button that enables and disables this

[2020-04-28 18:15] #128 closed

[2020-04-28 18:20] #133 closed

[2020-04-30 13:33] nik72619c opened #136 "footer not properly aligned"
#### Description
The text of the footer is not aligned to the center. Also, there are some left paddings provided to it, which might not be the correct way to align the footer content.

## OS info
Mac OS Catalina v10.12.0

[2020-05-04 13:30] irmerk commented on #14
What is the benefit here? I'm not sure we need this.

[2020-05-04 13:32] nik72619c commented on #14
@irmerk this can ensure that the developers do not introduce untidy/faulty code to the repo. But if you think we don't need it, we can remove it up :)

[2020-05-04 14:05] irmerk commented on #14
Hmm, yeah I think this could be an opportunity to sync our repos. Looking at some as examples, `markdown-editor` and `cicero-ui` has linting, but `markdown-transform` and `concerto-ui` does not.

Any thoughts on this @jeromesimeon @DianaLease @mttrbrts @dselman? I imagine we would sync things with how we have it in `cicero-ui`.

[2020-05-04 14:19] dselman commented on #14
It may be easier to standardise how we do all this once we move to the web-components mono repo?

[2020-05-04 14:24] irmerk commented on #14
Yes indeed, I wasn't sure that was definite yet.

[2020-05-09 20:11] #76 closed

[2021-04-02 16:35] K-Kumar-01 commented on #37
@algomaster99
I think I will be able to tackle this, so is it fine if I go ahead with this issue?

[2021-04-02 16:46] algomaster99 commented on #37
Sure, go ahead!

[2021-04-04 09:54] K-Kumar-01 commented on #37
@algomaster99
I have created a PR for the issue. Let me know if there are any changes required.

[2021-04-06 14:25] jolanglinais commented on #39
@algomaster99 any thoughts on this? I don't recall why we needed quotation marks.

[2021-04-06 15:02] algomaster99 commented on #39
@K-Kumar-01 thanks for raising the issue.

I think the extra `""` are not put intentionally. They come directly from CiceroMark JSON of a sample text of a particular template. As far as I remember the values in the CiceroMark JSON were stored like this - `{name: "\"Party A\""}`.

I might be wrong though. Could you please confirm, @irmerk @K-Kumar-01 ?

[2021-04-06 15:45] jolanglinais commented on #39
That sounds right. Probably something we didn't want to bother with last summer at the time.

[2021-04-06 17:30] K-Kumar-01 commented on #39
@algomaster99
The values in JSON mark are as follows
[code]
So yeah basically what you are saying is right.
However, in [contract-editor](https://ap-web-components.netlify.app/?path=/story/contract-editor--contract-editor) (web-components), the values do not contain the `""` wrapped around them. This led me to think that these might be unintentional when it gets converted to CiceroMark JSON.
Maybe

[2021-04-08 14:25] nishihere19 commented on #39
I had a similar doubt, when the user edits a variable, it allows them to remove the double-quotes. Was it intentional or we want to preserve the double-quotes as well?

[2021-04-13 09:26] algomaster99 commented on #41
Yeah, sure. Feel free to take this issue up.

[2021-04-13 09:31] algomaster99 commented on #45
This is a very good issue! Looking forward to PR for this.

[2021-04-13 12:53] Aniruddha-Shriwant commented on #46
Can I take it up?

[2021-04-13 13:04] K-Kumar-01 commented on #46
@Aniruddha-Shriwant
Actually I am gonna work upon this. I think i forgot to write `would you like to work on this`😅

[2021-04-13 13:05] Aniruddha-Shriwant commented on #46
Yeah that's why I asked if I can take this up 😅

[2021-04-14 09:05] Aniruddha-Shriwant commented on #47
Although @K-Kumar-01 had pointed out to [this](https://github.com/eslint/eslint/issues/10880) issue in [this](https://github.com/accordproject/cicero-word-add-in/pull/38/files#r611138367) comment, I think as that issue was ~3years old, the single quotes in the pattern is not needed now as that might be resolved now.

[2021-04-15 08:07] K-Kumar-01 commented on #47
@Aniruddha-Shriwant
It still gives the following error if quotes are not put.
[code]

However, when quotes are put no error is displayed.

[2021-04-15 10:08] Aniruddha-Shriwant commented on #47
That's Strange!
Closing this temporary let #44 get merged and then let's see the eslint output

[2021-04-20 16:05] K-Kumar-01 commented on #46
@algomaster99
I have made a PR for the issue. Let me know if there are any changes required.

[2021-04-22 07:46] K-Kumar-01 commented on #45
Going to work on this now

[2021-04-23 05:01] Aniruddha-Shriwant commented on #47
Reopening by [this comment](https://github.com/accordproject/cicero-word-add-in/pull/49#discussion_r618751435)

[2021-05-03 16:34] K-Kumar-01 commented on #45
@algomaster99
I need some help with this issue.
I was trying to use this [one](https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=word-js-preview#onDeleted). However, it states that API should not be used in a production environment. So shall we go with this?

Also, I had some difficulties setting this up in the code.

[2021-05-03 16:58] Aniruddha-Shriwant commented on #53
Yeah I too just faced this error, this is caused by Cicero's version
Updating Cicero's version by `npm install @accordproject/cicero-core@latest` solves this error! I had tried this locally

[2021-05-03 17:00] K-Kumar-01 commented on #53
@Aniruddha-Shriwant
Yeah I am making a PR for this right now.

[2021-05-03 17:22] K-Kumar-01 commented on #53
@algomaster99 @irmerk
I have made a PR for the issue. Let me know if there are any changes required.

[2021-05-03 17:36] K-Kumar-01 commented on #39
@algomaster99 @irmerk
Should I make a PR for the issue.

[2021-05-04 04:04] algomaster99 commented on #45
I would try the following approaches:
1. Use [`delete`](https://docs.microsoft.com/en-us/javascript/api/word/word.contentcontrol?view=word-js-preview#delete_keepContent_) with `keepContent` set to `false`. This API can be triggered from the Word Add-in (maybe the document panel). We can instruct a user to **not delete** the clause by deleting the content control directly but instead we can render

[2021-05-04 04:13] Aniruddha-Shriwant commented on #55
Can I take this issue up and give it a try?

[2021-05-04 04:28] algomaster99 commented on #55
Yes, you may go for it. 😌

[2021-05-04 06:27] algomaster99 commented on #50
Yeah, you can go for it.

[2021-05-04 06:29] algomaster99 commented on #39
@K-Kumar-01 you can go ahead. The contract editor probably strips the `""` out of the variable value so do how its done in there. Also, make sure roundtripping is not broken because of this.

[2021-05-04 10:44] K-Kumar-01 commented on #45
@algomaster99
Thanks for the help and clarification. I will try to implement and see if we are able to find an effective solution from these.

[2021-05-05 08:56] K-Kumar-01 commented on #39
@algomaster99
In contract editor, there is no extra `""` in the values.
![Screenshot (63)](https://user-images.githubusercontent.com/59891164/117117836-9ffc6d80-adad-11eb-8219-144211826f68.png)
So I don't think we can use its implementation for the same.
Though I have found a solution for which I make a PR ASAP.

[2021-05-05 09:10] K-Kumar-01 commented on #39
@algomaster99
I have made a PR for the issue. Let me know if there are any changes required.

[2021-05-10 18:20] K-Kumar-01 commented on #45
@algomaster99
Based on what you suggested, I have thought of a particular solution. Let me know if this can be done.

1. In the Document component, we will keep track of the inserted templates.
2. Also a state `templatesIns` can be made to keep track of OOXML of inserted templates. So the complete OOXML of the templates can be rendered using this.
3. The templates can be kept non-deletable in the

[2021-05-10 19:27] algomaster99 commented on #45
Not sure what you mean by this. I am assuming you want to render the templates using the React state **when document reopens**, right? If that is the case, it is not the best way to go through because you will have to update the state first using CustomXMLPart. Better to directly use the latter to do so.

For now, let's keeping inserting from library component only.

I think unlike because the you

[2021-05-10 19:34] K-Kumar-01 commented on #45
Yes it keeps on crashing and reloading. There's also a thread in slack where the full  information regarding this is available

I apologise but I got confused as to follow which approach and which things. :sweat_smile:
Could you please once again clarify what is meant by the above.
Thanks

[2021-05-10 19:44] algomaster99 commented on #45
That's weird. But I hope you figure out. It is tough to find things related to MS Word add-in development.

Sure.

1. Append the template identifier to the state in document component whenever a contract is added to the document using the library component.
2. Render this list of template identifiers in the  document component. Make sure you also render a button corresponding to each list item (te

[2021-05-10 19:52] K-Kumar-01 commented on #45
@algomaster99
Thanks for the explanation.
Also I will try to see if I am able to find anything to solve the debugging issue.

[2021-05-10 19:53] algomaster99 commented on #45
No problem. Let me know if you have any more follow up questions about the implementation.

[2021-05-12 12:35] K-Kumar-01 commented on #47
@algomaster99 @Aniruddha-Shriwant
I am facing an error in running the command.
![Screenshot (65)](https://user-images.githubusercontent.com/59891164/117975576-6fd44200-b34c-11eb-84a6-e0f6e986831e.png)

I think we need to revert back.

[2021-05-12 14:44] algomaster99 commented on #47
I don't think so. Seems more like a [Windows issue](https://link.medium.com/HLT4o3Oncgb). I can suggest one fix.
1. Install WSL.
2. Link its bash terminal to the terminal inside VSCode.

[2021-05-12 14:55] Aniruddha-Shriwant commented on #47
Well @K-Kumar-01 That's weird
I was able to run those commands successfully

On Gitpod :
![image](https://user-images.githubusercontent.com/58624108/117994848-74095b00-b35e-11eb-87b8-f4f257c61d08.png)

On Windows10 :
![image](https://user-images.githubusercontent.com/58624108/117994898-808db380-b35e-11eb-8fc8-a9dfbbfe018c.png)

On Ubuntu :
![image](https://user-images.githubusercontent.com/5862410

[2021-05-15 08:17] algomaster99 commented on #62
What is the purpose of "Add new library item", @irmerk @DianaLease ?

[2021-05-15 11:22] K-Kumar-01 commented on #45
@algomaster99
I was implementing the code but I am stuck at a particular place.
[code]
This code is the part where we insert more than one template. So from what I Understood if the template to be inserted is not present. Then the `newXML` will include our template identifier.
Also, this is the code which removes the old Custom XML and inserts the new XML.
[code]

Now, if the identifier is already

[2021-05-15 11:27] algomaster99 commented on #45
@K-Kumar-01 I would appreciate if you could submit a WIP pull request of the implementation. It will be easier for me to debug.

[2021-05-15 11:40] K-Kumar-01 commented on #45
@algomaster99 Yeah sure I will submit a draft PR. I will clean the code a bit and then submit it ASAP.

[2021-05-15 12:04] K-Kumar-01 commented on #45
@algomaster99
I have made a WIP PR. Thanks for the guidance in advance :)

[2021-05-20 21:48] DianaLease commented on #62
Not sure if this is intentional, but it looks like the Library component will only render that button if _both_ `onUploadItem` _and_ `onImportItem` are passed to the component as props: https://github.com/accordproject/web-components/blob/6b185a13fa44270921a8ef5c014df238af9c5fba/packages/ui-components/src/Library/index.js#L95

In the Word add-in, we are only passing `onUploadItem`.